[submodule "common-code"]
	path = common-code
	url = https://github.com/BJNFNE/common-code.git
[submodule "common-tools"]
	path = common-tools
	url = https://github.com/BJNFNE/common-tools.git
[submodule "analysis-tools"]
	path = analysis-tools
	url = https://github.com/BJNFNE/analysis-tools.git
