# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Ignore Jetbrains CLion IDE files
.idea

# VSCode files
/.vs
/.vscode

# Debug/Release Folders
Debug/
Release/

# Compiled Tools
/tools/DEV7Launcher/DEV7Launcher
/tools/BCD1Creator/BCD1Creator
/tools/OBCViewer/OBCViewer
/tools/ModelPathDumper/ModelPathDumper

# Additional Tools stuff
/tools/OBCViewer/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId
configure_debug.log
