# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Ignore Jetbrains CLion IDE files
.idea

# Ignore Visual Studio specific files/folders
.vs/

# Debug/Release Folders
Debug/
Release/

# Compiled Tools
/binaries/DEV7Launcher
/binaries/BCD1Creator
/binaries/OBCViewer
/binaries/ModelPathDumper
/binaries/OBJDumper
/binaries/CTRKViewer

# Additional Tools stuff
binaries/CMakeCXXCompilerId
