# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Ignore Jetbrains CLion IDE files
.idea

# Ignore Visual Studio specific files/folders
.vs/

# Debug/Release Folders
Debug/
Release/

# Compiled DEV7 Tools
/binaries/DEV7Launcher
/binaries/BCD1Creator
/binaries/OBCViewer
/binaries/ModelPathDumper
/binaries/OBJDumper
/binaries/CTRKViewer

# Compiled Common Tools
# - Linux
/common-tools/linux/create_iso/create_iso
/common-tools/linux/extract_iso/extract_iso
/common-tools/linux/convert_bin/convert_bin
/common-tools/linux/create_zip/create_zip
/common-tools/linux/create_tar/create_tar

# Rewritten Software Ports 
rewritten-software-ports/linux/LoaderMDO/LoaderMDO

# Additional Tools stuff
binaries/CMakeCXXCompilerId

# AdibouNet stuff
adibounet/adibounet.log

# DEV7 File formats
*.obc
*.ctrk
*.let
*.aca
*.vmd
*.img
*.mdx
*.dbf
*.ini 
*.mesh
*.cure
