name: Build and Release (Linux Debug)

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install required libs
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ make build-essential cmake libarchive-dev python3 genisoimage python3-pip

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Run configure
        run: ./configure

      - name: Compile all C++ programs (Debug)
        run: make debug

      - name: Compile all Python tools
        run: | 
          pyinstaller --onefile --distpath . tools/IMGConverter/IMGConverter.py
          pyinstaller --onefile --distpath . tools/AdultCornerDecoder/decoder.py
          pyinstaller --onefile --distpath . tools/AdultCornerEncoder/encoder.py
          pyinstaller --onefile --distpath . tools/IMGIdentifier/IMGIdentifier.pypyinstaller --onefile --distpath . tools/OBCEditor/OBCEditor.py
          pyinstaller --onefile --distpath . tools/PetiteDetector/PetiteDetector.py
          pyinstaller --onefile --distpath . tools/PKLiteDetector/PKLiteDetector.py
          pyinstaller --onefile --distpath . tools/SecuROMDetector/SecuROMDetector.py
          pyinstaller --onefile --distpath . tools/copyDatas/copyDatas.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled-linux-debug
          path: |
            binaries/LoaderMDO/LoaderMDO
            binaries/BCD1Creator/BCD1Creator
            binaries/DEV7Launcher/DEV7Launcher
            binaries/ModelPathDumper/ModelPathDumper
            binaries/OBJDumper/OBJDumper
            binaries/OBCViewer/OBCViewer
            binaries/CTRKViewer/CTRKViewer
            binaries/PLAViewer/PLAViewer
            IMGConverter
            AdultCornerDecoder
            AdultCornerEncoder
            IMGIdentifier
            OBCEditor
            PetiteDetector
            PKLiteDetector
            SecuROMDetector
            copyDatas
