name: Build and Release (Windows)

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install MinGW
        run: choco install mingw -y

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Compile C++ programs with MinGW
        run: |
          g++ -static -mwindows -o LoaderMDO.exe rewritten-modern-software/LoaderMDO/LoaderMDO/LoaderMDO.cpp
          g++ -I. -static -o BCD1Creator.exe tools/BCD1Creator/BCD1Creator.cpp
          g++ -I. -static -o DEV7Launcher.exe tools/DEV7Launcher/DEV7Launcher.cpp
          g++ -static -o OBJDumper.exe tools/OBJDumper/OBJDumper.cpp
          g++ -I. -static -o ModelPathDumper.exe tools/ModelPathDumper/ModelPathDumper.cpp
          g++ -static -mwindows -o SYSTEM.EXE rewritten-modern-software/SYSTEM/SYSTEM/SYSTEM.cpp
          g++ -static -mwindows -o SYSTEM_RussianRelease.EXE rewritten-modern-software/SYSTEM_RussianRelease/SYSTEM/SYSTEM.cpp
          g++ -I. -static -o CTRKViewer.exe tools/CTRKViewer/CTRKViewer.cpp
          g++ -I. -static -o OBCViewer.exe tools/OBCViewer/OBCViewer.cpp
          g++ -I. -static -o PLAViewer.exe tools/PLAViewer/PLAViewer.cpp
          g++ -static -o SetupPatcher.exe patches/SetupPatcher/SetupPatcher/SetupPatcher.cpp
          g++ -static -o Y2K38Patcher.exe patches/Y2K38Patcher/Y2K38Patcher/Y2K38Patcher.cpp
          g++ -I. -static -o LOADER7VC.exe tools-win/LOADER7VC/LOADER7VC/LOADER7VC.cpp -lversion -lshlwapi

      - name: Compile all Python tools
        run: | 
          pyinstaller --onefile --distpath . tools/IMGConverter/IMGConverter.py
          pyinstaller --onefile --distpath . tools/AdultCornerDecoder/decoder.py
          pyinstaller --onefile --distpath . tools/AdultCornerEncoder/encoder.py
          pyinstaller --onefile --distpath . tools/IMGIdentifier/IMGIdentifier.py
          pyinstaller --onefile --distpath . tools/OBCEditor/OBCEditor.py
          pyinstaller --onefile --distpath . tools/PetiteDetector/PetiteDetector.py
          pyinstaller --onefile --distpath . tools/PKLiteDetector/PKLiteDetector.py
          pyinstaller --onefile --distpath . tools/SecuROMDetector/SecuROMDetector.py
          pyinstaller --onefile --distpath . tools/copyDatas/copyDatas.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled-windows
          path: |
            LoaderMDO.exe
            SYSTEM.EXE
            SYSTEM_RussianRelease.EXE
            BCD1Creator.exe
            DEV7Launcher.exe
            OBJDumper.exe
            ModelPathDumper.exe
            IMGConverter.exe
            decoder.exe
            encoder.exe
            IMGIdentifier.exe
            OBCEditor.exe
            PetiteDetector.exe
            PKLiteDetector.exe
            SecuROMDetector.exe
            OBCViewer.exe
            CTRKViewer.exe
            PLAViewer.exe
            SetupPatcher.exe
            Y2K38Patcher.exe
            copyDatas.exe
            LOADER7VC.exe
          #  DEV7Monitor.exe
